* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  width: 100%;
}

#project-list-wrapper {
  background-color: lightgray;
  width: 300px;
  height: 90vh;
  margin: 5% 0px 0px 0px;
  justify-content: center;
}

h3 {
  width: max-content;
  margin: 1em 0px 1em 3em;
}

#current-project-wrapper {
  background-color: lightcoral;
  flex-grow: 1;
  height: 90vh;
  margin: 5% 0px 0px 0px;
  justify-content: center;
}

#current-project-wrapper ul {
  width: 80vh;
  margin: 10px auto;
}

.to-do-item {
  display: flex;
  margin-top: 10px;
}

.to-do-item p {
  margin: 0 3% 0 0;
}

.checkbox {
  width: 14px;
  height: 14px;
  border: 2px solid grey;
  border-radius: 50%;
  margin-right: 5px;
  align-self: center;
}
